
.idea/modules.xml
.idea/openmind-paper.iml
scripts/__pycache__/PEC_functions.cpython-37.pyc
data_openlab/incremental_february_n130_combined.xlsx
data_openlab/incremental_march_n_41_p21.xlsx
data_openlab/incremental_march_n_41_p22.xlsx
data_openlab/incremental_march_n_42_c22.xlsx
data_openlab/incremental_march_n_42_e21.xlsx
data_openlab/incremental_march_n_42_e22.xlsx
data_openlab/incremental_march_n_43_c21.xlsx
data_prolific/an-exp1-part1.csv
data_prolific/an-exp1-part2.csv
data_prolific/an-exp2-control-easy.csv
data_prolific/an-exp2-control-hard.csv
data_prolific/an-exp2-explanation-easy.csv
data_prolific/an-exp2-explanation-hard.csv
data_prolific/an-exp2-pilot.csv
data_prolific/an-exp2-prediction_easy.csv
data_prolific/an-exp2-prediction_hard.csv
.DS_Store
.vscode/settings.json
.vscode/settings.json
